-
	ogp = {
		'title':'test',
		'description':'test',
		'url':'test',
		'image':'test',
		'siteName':'test',
		'lang':'test',
		'fbid':'test',
	}
-
	meta = {
		title:'ページ',
		desc:'ディスクリプション',
		key:'キーワード'
	}
- dev = (env == 'development') ? true : false;
- slug = ''
- is_contact = false;