include _vars
include _inc_mixins
block vars
block meta_data
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(charset='UTF-8')
	meta#viewport(content='width=device-width', name='viewport')
	+meta(meta)
	+ogp(ogp)
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&amp;display=swap">
	
	<script type="text/javascript" src="https://cse.google.com/cse.js?cx=618bcba5b0173d439" async="" defer="" charset="utf-8"></script>